@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Teko";
}

body,
html {
  background-color: #111;
}

.logoText {
  color: white;
}

.logoTextChar {
  color: white;
}

*::selection {
  background-color: #111;
  color: white;
}

.heroTextWord {
  display: inline-block;
  margin-right: 10px;
}

/* Framer motion practice */

.fdiv {
  background-color: red;
  height: 100px;
  width: 100px;
}
